*.log
*.js
*.cjs
*.mjs
*.js.map
*.cjs.map
*.mjs.map

/.firebase/**
/build/**
/node_modules/**
/.yarn/*
!/.yarn/cache
!/.yarn/cache/**
!/.yarn/patches
!/.yarn/patches/**
!/.yarn/plugins
!/.yarn/plugins/**
!/.yarn/releases
!/.yarn/releases/**
!/.yarn/sdks
!/.yarn/sdks/**
!/.yarn/versions
!/.yarn/versions/**
!/.pnp.*
